<!--<video controls>
  <source src="videos/{{selectedVideo.fileName}}" type="video/mp4">
  Your browser does not support the video tag.
</video>-->
<p5video id="player" video="selectedVideo" effect="selectedEffect" music="selectedMusic">
</p5video>

<blockquote class="blockquote-reverse">
    Wideo: {{selectedVideo}} <button class="btn btn-sm btn-primary" ng-click="goBackToMovie()">Zmień</button>
</blockquote>

<blockquote class="blockquote-reverse">
    Efekt: {{selectedEffect}} <button class="btn btn-sm btn-primary" ng-click="goBackToEffect()">Zmień</button>
</blockquote>

<blockquote class="blockquote-reverse">
    Muzyka: {{selectedMusic}} <button class="btn btn-sm btn-primary" ng-click="goBackToMusic()">Zmień</button>
</blockquote>