<!--<video controls>
  <source src="videos/{{selectedVideo.fileName}}" type="video/mp4">
  Your browser does not support the video tag.
</video>-->
<p5video id="player" video="selectedVideo" effect="selectedEffect" music="selectedMusic">
</p5video>

<blockquote class="blockquote-reverse">
    Wideo: {{selectedVideo}}
</blockquote>

<blockquote class="blockquote-reverse">
    Efekt: {{selectedEffect}}
</blockquote>

<blockquote class="blockquote-reverse">
    Muzyka: {{selectedMusic}}
</blockquote>